@font-face {
	font-family: 'AmazinglyBeautiful';
	src: url('./assets/fonts/AmazinglyBeautiful.woff2') format('woff2');
}
@font-face {
	font-family: 'GraphiqueProNextComp';
	src: url('./assets/fonts/GraphiqueProNextComp.woff2') format('woff2');
}
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bangers&display=swap');

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
